* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    padding-top: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.figure-selection {
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
}

.figure-selection h2 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 10px;
}

.figure-selection label {
    font-size: 1rem;
    color: #555;
    margin-right: 10px;
}

#figure-selector {
    padding: 8px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#figure-selector:focus {
    border-color: #007bff;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.img-figure {
    display: block;
    max-width: 30%;
    width: auto;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: left;
    margin-bottom: 15px;
}

form h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

form label {
    font-size: 0.9rem;
    color: #666;
    display: block;
    margin-bottom: 6px;
}

form input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 0.9rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

form input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}
